<div class="wrapper">
  <div class="logo-box">
    <img class="logo-box__logo-img" src="../../assets/img/logo.jpg" alt="Logotype">
  </div>
  <header class="header">
    <div class="header__headline-box">
      <span class="header__headline">monoblanproject</span>
      <span class="header__start">Start on 17-02-2016</span>
    </div>
    <div class="header__counts">
      <span class="header__posts">
        <span class="header__posts header__posts--number">870</span>
        posts
      </span>
      <span class="header__posts">
        <span class="header__posts header__posts--number">11,787</span>
        followers
      </span>
      <span class="header__posts">
        <span class="header__posts header__posts--number">112</span>
        following
      </span>
    </div>
    <div class="header__date-box">
      <span class="header__date-name">Date</span>
    </div>
  </header>
</div>
