:root {
  --white-color: #ffffff;
  --font-helvetica: 'Helvetica Neue Medium', sans-serif;
  --font-proxima: 'Proxima Nova Regular', sans-serif;
  --font-myriad: 'Myriad Pro Regular', sans-serif;
}
