<main class="main">
  <div class="wrapper">
    <div class="portfolio">
      <img class="portfolio__image" src="../../assets/img/1-portf.jpg" alt="First image">
      <div class="portfolio__today-box">
        <div class="portfolio__today">
          <span class="portfolio__headline">Today</span>
          <div class="portfolio__likes-box">
            <img class="portfolio__like-img" src="../../assets/img/like.png" alt="Like">
            <span class="portfolio__like">128</span>
          </div>
          <div class="portfolio__likes-box">
            <img class="portfolio__like-img" src="../../assets/img/comment.png" alt="Like">
            <span class="portfolio__like">31</span>
          </div>
        </div>
        <div class="portfolio__today">
          <span class="portfolio__headline portfolio__headline--data">9-08-2016</span>
          <div class="portfolio__likes-box portfolio__likes-box--second">
            <img class="portfolio__like-img" src="../../assets/img/like.png" alt="Like">
            <span class="portfolio__like">67</span>
          </div>
          <div class="portfolio__likes-box">
            <img class="portfolio__like-img" src="../../assets/img/comment.png" alt="Like">
            <span class="portfolio__like">22</span>
          </div>
        </div>
      </div>
      <span class="portfolio__upload">Image upload: 11-04-2016</span>
    </div>
  </div>
</main>
