<main class="main">
  <div class="wrapper">
    <div class="portfolio">
      <img class="portfolio__image" src="../../assets/img/1-portf.jpg" alt="First image">
      <div class="portfolio__today-box">
        <div class="portfolio__today">
          <div class="portfolio__date">
            <span class="portfolio__headline">Today</span>
            <span class="portfolio__headline">9-08-2016</span>
          </div>
          <div class="portfolio__sub-info">
            <div class="like">
              <div class="portfolio__likes">
                <img class="portfolio__like-img" src="../../assets/img/like.png" alt="Like">
                <span class="portfolio__like">128</span>
              </div>
              <div class="portfolio__likes">
                <img class="portfolio__like-img" src="../../assets/img/like.png" alt="Like">
                <span class="portfolio__like">67</span>
              </div>
            </div>
            <div class="comment">
              <div class="portfolio__likes">
                <img class="portfolio__like-img" src="../../assets/img/comment.png" alt="Like">
                <span class="portfolio__like">31</span>
              </div>
              <div class="portfolio__likes">
                <img class="portfolio__like-img" src="../../assets/img/comment.png" alt="Like">
                <span class="portfolio__like">22</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <span class="portfolio__upload">Image upload: 11-04-2016</span>
    </div>
    <div class="portfolio">
      <img class="portfolio__image" src="../../assets/img/2-portf.jpg" alt="Second image">
      <div class="portfolio__today-box">
        <div class="portfolio__today">
          <div class="portfolio__date">
            <span class="portfolio__headline">Today</span>
            <span class="portfolio__headline">9-08-2016</span>
          </div>
          <div class="portfolio__sub-info">
            <div class="like">
              <div class="portfolio__likes">
                <img class="portfolio__like-img" src="../../assets/img/like.png" alt="Like">
                <span class="portfolio__like">12,800</span>
              </div>
              <div class="portfolio__likes">
                <img class="portfolio__like-img" src="../../assets/img/like.png" alt="Like">
                <span class="portfolio__like">67</span>
              </div>
            </div>
            <div class="comment">
              <div class="portfolio__likes">
                <img class="portfolio__like-img" src="../../assets/img/comment.png" alt="Like">
                <span class="portfolio__like">3,100</span>
              </div>
              <div class="portfolio__likes">
                <img class="portfolio__like-img" src="../../assets/img/comment.png" alt="Like">
                <span class="portfolio__like">22</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <span class="portfolio__upload">Image upload: 11-04-2016</span>
    </div>
    <div class="portfolio">
      <img class="portfolio__image" src="../../assets/img/3-portf.jpg" alt="Third image">
      <img class="portfolio__video-icon" src="../../assets/img/video.png" alt="video">
      <div class="portfolio__today-box">
        <div class="portfolio__today">
          <div class="portfolio__date">
            <span class="portfolio__headline">Today</span>
            <span class="portfolio__headline">9-08-2016</span>
          </div>
          <div class="portfolio__sub-info">
            <div class="like">
              <div class="portfolio__likes">
                <img class="portfolio__like-img" src="../../assets/img/like.png" alt="Like">
                <span class="portfolio__like">128</span>
              </div>
              <div class="portfolio__likes">
                <img class="portfolio__like-img" src="../../assets/img/like.png" alt="Like">
                <span class="portfolio__like">67</span>
              </div>
            </div>
            <div class="comment">
              <div class="portfolio__likes">
                <img class="portfolio__like-img" src="../../assets/img/comment.png" alt="Like">
                <span class="portfolio__like">31</span>
              </div>
              <div class="portfolio__likes">
                <img class="portfolio__like-img" src="../../assets/img/comment.png" alt="Like">
                <span class="portfolio__like">22</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <span class="portfolio__upload">Image upload: 11-04-2016</span>
    </div>
    <div class="portfolio">
      <img class="portfolio__image" src="../../assets/img/4-portf.jpg" alt="Fourth image">
      <div class="portfolio__today-box">
        <div class="portfolio__today">
          <div class="portfolio__date">
            <span class="portfolio__headline">Today</span>
            <span class="portfolio__headline">9-08-2016</span>
          </div>
          <div class="portfolio__sub-info">
            <div class="like">
              <div class="portfolio__likes">
                <img class="portfolio__like-img" src="../../assets/img/like.png" alt="Like">
                <span class="portfolio__like">128</span>
              </div>
              <div class="portfolio__likes">
                <img class="portfolio__like-img" src="../../assets/img/like.png" alt="Like">
                <span class="portfolio__like">67</span>
              </div>
            </div>
            <div class="comment">
              <div class="portfolio__likes">
                <img class="portfolio__like-img" src="../../assets/img/comment.png" alt="Like">
                <span class="portfolio__like">31</span>
              </div>
              <div class="portfolio__likes">
                <img class="portfolio__like-img" src="../../assets/img/comment.png" alt="Like">
                <span class="portfolio__like">22</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <span class="portfolio__upload">Image upload: 11-04-2016</span>
    </div>
    <div class="portfolio">
      <img class="portfolio__image" src="../../assets/img/5-portf.jpg" alt="Fifth image">
      <img class="portfolio__video-icon" src="../../assets/img/video.png" alt="video">
      <div class="portfolio__today-box">
        <div class="portfolio__today">
          <div class="portfolio__date">
            <span class="portfolio__headline">Today</span>
            <span class="portfolio__headline">9-08-2016</span>
          </div>
          <div class="portfolio__sub-info">
            <div class="like">
              <div class="portfolio__likes">
                <img class="portfolio__like-img" src="../../assets/img/like.png" alt="Like">
                <span class="portfolio__like">128</span>
              </div>
              <div class="portfolio__likes">
                <img class="portfolio__like-img" src="../../assets/img/like.png" alt="Like">
                <span class="portfolio__like">67</span>
              </div>
            </div>
            <div class="comment">
              <div class="portfolio__likes">
                <img class="portfolio__like-img" src="../../assets/img/comment.png" alt="Like">
                <span class="portfolio__like">31</span>
              </div>
              <div class="portfolio__likes">
                <img class="portfolio__like-img" src="../../assets/img/comment.png" alt="Like">
                <span class="portfolio__like">22</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <span class="portfolio__upload">Image upload: 11-04-2016</span>
    </div>
    <div class="portfolio">
      <img class="portfolio__image" src="../../assets/img/6-portf.jpg" alt="Sixth image">
      <div class="portfolio__today-box">
        <div class="portfolio__today">
          <div class="portfolio__date">
            <span class="portfolio__headline">Today</span>
            <span class="portfolio__headline">9-08-2016</span>
          </div>
          <div class="portfolio__sub-info">
            <div class="like">
              <div class="portfolio__likes">
                <img class="portfolio__like-img" src="../../assets/img/like.png" alt="Like">
                <span class="portfolio__like">128</span>
              </div>
              <div class="portfolio__likes">
                <img class="portfolio__like-img" src="../../assets/img/like.png" alt="Like">
                <span class="portfolio__like">67</span>
              </div>
            </div>
            <div class="comment">
              <div class="portfolio__likes">
                <img class="portfolio__like-img" src="../../assets/img/comment.png" alt="Like">
                <span class="portfolio__like">31</span>
              </div>
              <div class="portfolio__likes">
                <img class="portfolio__like-img" src="../../assets/img/comment.png" alt="Like">
                <span class="portfolio__like">22</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <span class="portfolio__upload">Image upload: 11-04-2016</span>
    </div>
    <div class="portfolio">
      <img class="portfolio__image" src="../../assets/img/7-portf.jpg" alt="Seventh image">
      <div class="portfolio__today-box">
        <div class="portfolio__today">
          <div class="portfolio__date">
            <span class="portfolio__headline">Today</span>
            <span class="portfolio__headline">9-08-2016</span>
          </div>
          <div class="portfolio__sub-info">
            <div class="like">
              <div class="portfolio__likes">
                <img class="portfolio__like-img" src="../../assets/img/like.png" alt="Like">
                <span class="portfolio__like">128</span>
              </div>
              <div class="portfolio__likes">
                <img class="portfolio__like-img" src="../../assets/img/like.png" alt="Like">
                <span class="portfolio__like">67</span>
              </div>
            </div>
            <div class="comment">
              <div class="portfolio__likes">
                <img class="portfolio__like-img" src="../../assets/img/comment.png" alt="Like">
                <span class="portfolio__like">31</span>
              </div>
              <div class="portfolio__likes">
                <img class="portfolio__like-img" src="../../assets/img/comment.png" alt="Like">
                <span class="portfolio__like">22</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <span class="portfolio__upload">Image upload: 11-04-2016</span>
    </div>
    <div class="portfolio">
      <img class="portfolio__image" src="../../assets/img/8-portf.jpg" alt="Eight image">
      <div class="portfolio__today-box">
        <div class="portfolio__today">
          <div class="portfolio__date">
            <span class="portfolio__headline">Today</span>
            <span class="portfolio__headline">9-08-2016</span>
          </div>
          <div class="portfolio__sub-info">
            <div class="like">
              <div class="portfolio__likes">
                <img class="portfolio__like-img" src="../../assets/img/like.png" alt="Like">
                <span class="portfolio__like">128</span>
              </div>
              <div class="portfolio__likes">
                <img class="portfolio__like-img" src="../../assets/img/like.png" alt="Like">
                <span class="portfolio__like">67</span>
              </div>
            </div>
            <div class="comment">
              <div class="portfolio__likes">
                <img class="portfolio__like-img" src="../../assets/img/comment.png" alt="Like">
                <span class="portfolio__like">31</span>
              </div>
              <div class="portfolio__likes">
                <img class="portfolio__like-img" src="../../assets/img/comment.png" alt="Like">
                <span class="portfolio__like">22</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <span class="portfolio__upload">Image upload: 11-04-2016</span>
    </div>
    <div class="portfolio portfolio--9photo">
      <img class="portfolio__image" src="../../assets/img/9-portf.jpg" alt="Ninth image">
      <div class="portfolio__today-box">
        <div class="portfolio__today">
          <div class="portfolio__date">
            <span class="portfolio__headline">Today</span>
            <span class="portfolio__headline">9-08-2016</span>
          </div>
          <div class="portfolio__sub-info">
            <div class="like">
              <div class="portfolio__likes">
                <img class="portfolio__like-img" src="../../assets/img/like.png" alt="Like">
                <span class="portfolio__like">128</span>
              </div>
              <div class="portfolio__likes">
                <img class="portfolio__like-img" src="../../assets/img/like.png" alt="Like">
                <span class="portfolio__like">67</span>
              </div>
            </div>
            <div class="comment">
              <div class="portfolio__likes">
                <img class="portfolio__like-img" src="../../assets/img/comment.png" alt="Like">
                <span class="portfolio__like">31</span>
              </div>
              <div class="portfolio__likes">
                <img class="portfolio__like-img" src="../../assets/img/comment.png" alt="Like">
                <span class="portfolio__like">22</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <span class="portfolio__upload">Image upload: 11-04-2016</span>
    </div>
    <button class="button" type="button">Load more</button>
  </div>
</main>
